<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{url_for('static', filename='chess-16.png')}}" type="image/x-icon" />
        <title>Simple Chess Game</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/chessboard/css/chessboard-1.0.0.css') }}"></link>
        <link rel="shortcut icon" href="{{ url_for('static', filename='rook_favicon.ico') }}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-1.0.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-1.0.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>

    </head>

    <body class="dark">
        
        <div class="container">
            
            <div class="row">
               
                <div class="col-md-6">
                    <div id="mainWindow">
                        <div id="board" class="center-block"></div>
                        
                    </div>
                   
                </div>
                
                <div class="col-md-6">
                    
                    <div id="secondWindow" class="">
                        
                        <h3><span>Status: </span><span id="status" class="text-5xl font-sans mb-3">White to move</span></h3>
                        <div class="mt-5" id="moveTable">
                            <table class="table table-striped table-condensed" id="pgn">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>White</th>
                                        <th>Black</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="controls" class="">
                            
                          
                            <form class="form-horizontal">
                                    <div class="col-12 text-center ">
                                        <button type="button" class="btn btn-warning" id="backBtn" onclick="takeBack()";>Take Back</button>
                                        <button type="button" class="btn btn-danger" id="reset" onclick="newGame()";>New Game</button>
                                        <button type="button" class="btn btn-primary" id="backBtn" onclick="board.flip()";>Flip Board</button>
                                    
                                    </div>
                                       
                                    <select id="botagainst" class="form-control">
                                        <option value="bot1">Against: Bot 1</option>
                                        <option value="bot2">Against: Bot 2</option>
                                        
                                    </select>
                                    
                                    <select id="sel1" class="form-control">
                                        <option value="4">Depth: 4</option>
                                        <option value="3">Depth: 3</option>
                                        <option value="2">Depth: 2</option>
                                        <option value="1">Depth: 1</option>
                                    </select>
                                    <br/>
                                    <select id="botwith" class="form-control">
                                        <option value="bot1">Helper: Bot 1</option>
                                        <option value="bot2">Helper: Bot 2</option>
                                    </select>
                                    
                                    <select id="sel2" class="form-control">
                                        <option value="4">Depth: 4</option>
                                        <option value="3">Depth: 3</option>
                                        <option value="2">Depth: 2</option>
                                        <option value="1">Depth: 1</option>
                                    </select>

                                    <div class="col-12 text-center ">
                                    <button type="button" class="btn btn-info" id="backBtn" onclick="getbothelp()";>Get Bot help</button>
                                    <button type="button" class="btn btn-success" id="big" onclick="startGame()";>Start Game</button>
                                    </div>
                                </form>
                            
                          
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div>
            <p class="bottom"> Copyright &copy 2023
                <a href="">Cyrus Tan</a> 
            </p>
        </div>
        
    </body>
    
</html>
